::ng-deep .custom-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white !important;
  height: 56px !important;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  display: flex !important;
  align-items: center !important;  /* Vertically center the items */
  padding: 0 16px;
}

::ng-deep .brand-logo {
  height: 32px; /* Adjust logo size */
}

.example-icon {
  padding: 0 14px;
  font-size: 15px;
  width: 10em;
  margin-right: 30px;
}
.example-spacer {
  flex: 1 1 auto;
}
.span-role{
  margin-left: 10px;
  font-size: 12px;
  /* font-family: Poppins; */
  font-weight: 100;
  color: #15151566;
}
